<!DOCTYPE html>
<html>

<head>
    <title></title>
    <!-- <link rel="stylesheet" type="text/css" href="css/new.css"> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="loginscript.js"></script>
    
</head>

<body>
    <h1><b>Create an account</b></h1>
   <!--  <!-creat a first div (createaccount div) with subsets of div inside
    1 subset div is the enter email id
    2 subset div is the enter password
    3 subset div is the confirm password 
    <!- 4 subset div is the Submit --> 
    <div id="createAccount"> 
        <!-- 1 subset div is the enter email id  -->

        <div id="fnameDiv">
      <input type="text" id="fname" placeholder="First Name" style="border-radius:7px; border:2px solid #dadada;" class="user"><br /><br />

      <div id="lnameDiv">
      <input type="text" id="lname" placeholder="Last Name" style="border-radius:7px; border:2px solid #dadada;" class="user"><br /><br />

      <div id="usernameDiv">
      <input type="text" id="username" placeholder="Username or Emailid" style="border-radius:7px; border:2px solid #dadada;" class="user"><br /><br /> 

      <!-- 2 subset div is the enter password -->

      <div id="passwordDiv">
      <input type="password" id="pwd" placeholder="Password" style="border-radius:7px; border:2px solid #dadada;" class="userpwd"><br /><br /> 

      <!-- 3 subset div is the confirm password -->

      <div id="confirmpassword">
      <input type="password" id="pwd1" placeholder="Confirm Password" style="border-radius:7px; border:2px solid #dadada;" class="confirmpwd"><br /><br /> 

      <!-- 4 subset div is the Submit -->
      <div id="Submit">
      <button  id="btn" class="submission">Login</button>

                  
            