<!DOCTYPE html>
<html>

<head>
    <title>
        "Test for learning JS!"
    </title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"> </script>
    <script type="text/javascript" src="fbscript.js"> 

    
    </script>
</head>

<body>
    <h1>Welcome to Facebook</h1>
    <div id="content">
        <!-- text area  -->
        <div id="textAreaDiv">
            <textarea id="postArea" placeholder="Write Something ... " cols="90" rows="4"></textarea>
        </div>
        <!-- button -->
        <div id="divPostBtn">
            <button type="button" id="btnPost">
                Post</button>
        </div>
        <br>
        <!-- feed starts -->
        <div id="feed">
        <br>
        </div>
    </div>
</body>

</html>
